<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="update" method="post">
    <table>
        <tr>
            <td>ID：</td>
            <td>
                <input type="text" name="id" th:value="${news.id}" readonly/>
            </td>
        </tr>
        <tr>
            <td>Title：</td>
            <td>
                <input type="text" name="title" th:value="${news.title}"/>
            </td>
        </tr>
        <tr>
            <td>Content：</td>
            <td>
                <input type="text" name="content" th:value="${news.content}"/>
            </td>
        </tr>
        <tr>
            <td>Createtime：</td>
            <td>
                <input type="text" name="createtime" th:value="${news.createtime}" readonly/>
            </td>
        </tr>
        <tr>
            <td>Opername：</td>
            <td>
                <input type="text" name="opername" th:value="${news.opername}"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交"/>
            </td>
            <td>
                <input type="reset" value="重置"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>